<h1>Calculator</h1>
<h2>Result::   {{result}}</h2>

<div>
  <input #number1 placeholder="First number">

</div>
<br><br>
<div>
  <input #number2 placeholder="Second number">
</div>
<button (click)="add(+number1.value, +number2.value)"> Add Numbers</button>
