<div class="col">
  <div class="card shadow-sm">
   <div style="text-align:center; height:200px; font-size: 140px; border-bottom: 1px solid black;">{{voteCounts}}</div>

    <div class="card-body">
      <p class="card-text">{{name}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="voteYes()">Yes</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="voteNo()">No</button>
        </div>
        <!-- <small class="text-muted">9 mins</small> -->
      </div>
    </div>
  </div>
</div>
