
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nigeria 2023</h1>
        <p class="lead text-muted">Your vote is your voice, makie it count.</p>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

    <div *ngIf="candidates.length == 0">
      There are no candiates
    </div>
    <div *ngIf="candidates.length > 0">
      There are  {{candidates.length}} candidates for this election
    </div>
      <!-- <select >
        <option  [value]="candidates" *ngFor="let candidate of candidates; let i = index">{{candidate}} - {{i}}</option>

      </select> -->
      <hr>
      <div>
        <h4>Results</h4>
        <ul>
          <li>Buhari: {{buhariCounts}}</li>
          <li>Ambali: {{ambaliCounts}}</li>
          <li>Ojukwu: {{ojukwuCounts}}</li>
        </ul>
      </div>

      <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-voters-card (voteBuhari)="voteBuhari($event)"  candidate="Buhari"></app-voters-card>
        <app-voters-card (voteAmbali)="voteAmbali($event)" [candidate]="'Ambali'"></app-voters-card>
        <app-voters-card (voteOjukwu)="voteOjukwu($event)" [candidate]="'Ojukwu'"></app-voters-card>
      </div> -->
      <div *ngFor="let cand of candidates">hdhdhdh</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-voters-card *ngFor="let item of candidates; " (voteBuhari)="voteBuhari($event)"  candidate="{{item}}"></app-voters-card>
      </div>

    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>

  </div>
</footer>
